@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #1dc2ee;
    --secondary: #90e463;
    --font-family: "Poppins", sans-serif;
    --font-family: "swis721-blk-bt-black", sans-serif;
    --font-color: #0c413d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--primary);
    min-height: 100vh;
}

/* Navbar */
.nav-link {
    font-size: large;
}

.btn-danger {
    font-size: large;
    border-radius: 27px;
}

/* Page 1 */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

section img#clouds2 {
    display: none;
}

section img#clouds3 {
    display: none;
}

#text {
    position: absolute;
    top: 23%;
    right: 60%;
    transform: translateY(-50%);
    color: #fff;
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 6vw;
    white-space: normal;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
    section img#clouds2 {
        transform: scaleX(-1);
        top: -100px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #text {
        top: 22.45%;
        right: 30%;
        font-size: 13vw;
    }
}

/* Page 2 */
.page2 {
    position: relative;
    padding: 100px;
    background: var(--secondary);
}

.page2 h2 {
    top: 40%;
    right: 72%;
    color: var(--font-color);
    font-size: 5vw;
    font-family: var(--font-family2);
    font-weight: bold;
    white-space: normal;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    padding-bottom: -10px;
}

.page2 p {
    font-size: 1em;
    text-align: justify;
    font-family: var(--font-family2);
}

@media screen and (max-width: 800px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

.btn-success {
    background-color: #31ae4a;
    height: 58px;
    width: 200px;
    border: none;
    text-align: center;
    font-size: 1.2vw;
    padding-top: 12px;
    font-family: var(--font-family2);
    border-radius: 27px;
}

.container px-4 {
    padding-top: 20%;
}

/* Page3 */
.page3 {
    position: relative;
    background: var(--secondary);
}

.s3 {
    height: 0vh;
    z-index: 1;
}
/* Page 4 */
.page4 {
    position: relative;
    padding: 100px;
    background: var(--secondary);
}

.page4 h2 {
    color: var(--font-color);
    font-size: 4vw;
    font-family: var(--font-family2);
    font-weight: bold;
    white-space: normal;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    padding-bottom: -10px;
    text-align: right;
}
